<h2 class="hemrub">Heta hattar</h2>

<div class="hatt1">
    <img class="img1" src="img/tophat.jpg" alt="höghatt">
    <p>Hög hatt - 600 riksdaler</p>
</div>

<div class="hatt1">
    <img class="img1" src="img/tophat.jpg" alt="höghatt">
    <p>Hög hatt - 600 riksdaler</p>
</div>