<h1 class="prodrub">Våra Hattar</h1>

<div class="prodhatt">
    <img class="img1" src="img/tophat.jpg" alt="Hög hatt">
    <p>Hög hatt - 600kr</p>
</div>

<div class="prodhatt">
    <img class="img1" src="img/plommonstop.jpg" alt="Plommomstop">
    <p>Plommonstop - 500kr</p>
</div>

<div class="prodhatt">
    <img class="img1" src="img/fedora.jpg" alt="Fedora">
    <p>Fedora - 420kr</p>
</div>

<div class="prodhatt">
    <img class="img1" src="img/strawhat.jpg" alt="Stråhatt">
    <p>Stråhatt - 20kr</p>
</div>