body {
  background-color: lightgray;
  overflow-x: hidden; }

.icon {
  transform: translateY(1vh); }

.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh; }

.prodrub {
  grid-column: span 10;
  grid-row: 1;
  text-align: center; }

.prodhatt {
  background-color: whitesmoke;
  grid-column: span 4;
  grid-row: span 4;
  text-align: center;
  border: 2px solid #000000;
  margin: 10px;
  transform: translateX(9.81vw); }

.prodhatt p {
  font-size: 45px;
  transform: translateY(-5vh); }

.indexhatt {
  background-color: whitesmoke;
  grid-column: 2/6;
  grid-row: 2/7;
  text-align: center;
  border: 2px solid #000000;
  margin: 5px; }

.indexhatt p {
  font-size: 45px;
  transform: translateY(-90px); }

.vhinfo {
  grid-row: 2/5;
  grid-column: 7/9;
  font-size: 20px; }

.hemrub {
  grid-column: 3/5;
  text-align: center; }

.browse {
  grid-column: 7/9;
  grid-row: 4;
  border: 2px solid black;
  background-color: whitesmoke;
  text-decoration: none;
  color: black;
  text-align: center;
  font-size: 40px;
  padding: 15px; }

.img1 {
  width: 20vw;
  height: auto; }

.img2 {
  width: 30vw;
  height: auto; }

.fade-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  z-index: 11;
  transition: opacity linear 0.2s; }

.fade {
  opacity: 0.5;
  z-index: 11; }

.menu {
  width: 20vw;
  height: 100vh;
  position: absolute;
  left: -50vw;
  top: 0;
  background: lightgrey;
  display: block;
  text-align: left;
  transition: left ease-out 0.2s;
  z-index: 11; }

.show {
  position: absolute;
  left: 0; }

header {
  grid-column: span 4;
  grid-row: 2;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  background-color: lightgray;
  border-bottom: 1px solid lightslategray; }

.rub1 {
  grid-column: 2/3;
  grid-row: 1;
  text-align: center; }

.rub2 {
  grid-column: 2/3;
  grid-row: 2;
  text-align: center; }

h3 {
  margin: 0; }

.logo {
  grid-row: span 2;
  grid-column: 3;
  position: relative;
  transform: translateX(27vw); }

.ul_menu {
  list-style-type: none; }

.a_menu {
  text-decoration: underline;
  color: black;
  font-size: 4vh; }

.li_menu {
  margin-bottom: 3vh; }

.nyrub {
  grid-column: span 10;
  text-align: center; }

.news {
  grid-row: span 8;
  grid-column: 4/8; }

@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
    margin: 0; }

  .container {
    width: 100vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(15, 1fr);
    grid-gap: 5px; }

  header {
    grid-column: span 4;
    grid-row: 1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    border-bottom: 1px solid lightslategray; }

  .rub1 {
    grid-column: 2/3;
    grid-row: 1;
    text-align: center; }

  .rub2 {
    grid-column: 2/3;
    grid-row: 2;
    text-align: center; }

  h3 {
    margin: 0; }

  .logo {
    margin-left: 4vw;
    grid-row: span 2;
    grid-column: 3/4;
    position: relative;
    left: 4vw;
    transform: translateX(0vw); }

  .icon {
    grid-row: span 2;
    grid-column: 1/2;
    position: relative;
    top: 2vh;
    left: 1vw; }

  .fade-layer {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: fixed;
    opacity: 0;
    z-index: 11;
    transition: opacity linear 0.2s; }

  .fade {
    opacity: 0.5;
    z-index: 11; }

  .menu {
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: -50vw;
    top: 0;
    background: lightgrey;
    display: block;
    text-align: left;
    transition: left ease-out 0.2s;
    z-index: 11; }

  .show {
    position: absolute;
    left: 0; }

  .hemrub {
    height: 1vh;
    grid-column: 2/4;
    grid-row: 1;
    text-align: center; }

  .vhinfo {
    grid-row: span 2;
    grid-column: span 4;
    margin-left: 5px;
    margin-right: 5px;
    transform: translateY(-30px);
    font-size: 20px; }

  .prodhatt {
    background-color: whitesmoke;
    grid-column: 1/5;
    grid-row: span 3;
    text-align: center;
    border: 2px solid #000000;
    margin: 1px;
    transform: translateX(4vw); }

  .prodhatt p {
    transform: translateY(-15px);
    font-size: 30px; }

  .indexhatt {
    background-color: whitesmoke;
    grid-column: span 4;
    grid-row: span 3;
    text-align: center;
    border: 2px solid #000000;
    margin: 5px; }

  .indexhatt p {
    transform: translateY(-15px);
    font-size: 30px; }

  .img1 {
    width: 40vw;
    height: auto; }

  .img2 {
    width: 50vw;
    height: auto; }

  .nyrub {
    grid-column: 2/4;
    grid-row: 1;
    text-align: center; }

  .news {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    transform: translateY(10vh);
    font-size: 3vh; }

  .browse {
    height: 13vh;
    grid-column: 2/4;
    grid-row: span 2;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    font-size: 30px;
    background-color: whitesmoke;
    transform: translateY(-40px); } }
